<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="ISO-8859-1">
        <title>home page</title>

        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
    </head>
    <body>
        <p>hello admin page</p>

        <a th:href="@{/login}" >login page</a>
        <br>
        <a th:href="@{/register}" >register page</a>


    </body>
</html>